<md-button class="md-icon-button" aria-label="Show tracklist"
           title="Show tracklist"
           ng-click="toggleSidenav('left')" hide-gt-sm>
  <md-icon md-font-library="material-icons" hint="queue_music">
    &#xE03D;</md-icon>
</md-button>

<section layout="row" layout-align="center center">

  <md-button ng-attr-aria-label="Go to homepage"
             ng-attr-title="Go to homepage"
             hide-md>
    <a href="#/home">
      <md-icon md-font-library="material-icons" hint="home">&#xE88A;</md-icon>
    </a>
  </md-button>

  <md-button ng-click="toggleConsume()"
             ng-attr-aria-label="{{ consume ? 'Keep' : 'Delete'}} tracks after playback"
             ng-attr-title="{{ consume ? 'Keep' : 'Delete'}} tracks after playback"
             hide-md>
    <md-icon md-font-library="material-icons" hint="track_changes"
             ng-class="{'md-highlight': consume}">&#xE8E1;</md-icon>

  </md-button>

  <md-button ng-click="toggleRandom()"
             ng-attr-aria-label="Play tracks in {{ random ? '' : 'random '}}order"
             ng-attr-title="Play tracks in {{ random ? '' : 'random '}}order"
             hide-md>
    <md-icon md-font-library="material-icons" hint="shuffle"
             ng-class="{'md-highlight': random}">&#xE043;</md-icon>
  </md-button>

  <md-button ng-click="previous()"
             aria-label="Play previous track"
             title="Play previous track">
    <md-icon md-font-library="material-icons" class="md-28"
             hint="skip_previous">&#xE045;</md-icon>
  </md-button>
  <md-button ng-click="play()"
             ng-attr-aria-label="{{ playing ? 'Pause' : 'Play' }}"
             ng-attr-title="{{ playing ? 'Pause' : 'Play' }}">
    <md-icon ng-hide="playing" md-font-library="material-icons" class="md-28"
             hint="play_arrow">&#xE037;</md-icon>
    <md-icon ng-show="playing" md-font-library="material-icons" class="md-28"
             hint="pause">&#xE034;</md-icon>
  </md-button>
  <md-button ng-click="next()"
             aria-label="Play next track"
             title="Play next track">
    <md-icon md-font-library="material-icons" class="md-28"
             hint="skip_next">&#xE044;</md-icon>
  </md-button>

  <div class="volume" layout="row" layout-align="center center">
    <md-icon md-font-library="material-icons" class="md-16"
             hint="volume_down">&#xE04D;</md-icon>
    <md-slider min="0" max="100" aria-label="Volume"
               ng-model="volume"
               ng-model-options="{getterSetter: true}"></md-slider>
    <md-icon md-font-library="material-icons" class="md-16"
             hint="volume_up">&#xE050;</md-icon>
  </div>
</section>
