schubidu-controls .volume {
    margin-left: 25px;
    min-width: 100px;
}

schubidu-controls .volume md-slider {
    width: 100%;
    padding: 0 0.5rem;
}

schubidu-controls .md-button {
    min-width: 1rem;
}