<table class="tracks">
  <thead>
  <th>Title</th>
  <th>Artist</th>
  <th hide show-gt-md>Album</th>
  <th class="actions"></th>
  </thead>
  <tbody>
  <tr ng-repeat="track in tracks | unique:'uri' track by track.uri"
      ng-controller="TrackListingItemCtrl">
    <td>
      {{ track.name }}
    </td>
    <td>
      <a href="#/browse/{{ track.artists[0].uri }}">
        {{ track.artists[0].name }}
      </a>
    </td>
    <td hide show-gt-md>
      <a href="#/browse/{{ track.album.uri }}">
        {{ track.album.name }}
      </a>
    </td>
    <td class="track-actions">
      <md-button class="md-icon-button" ng-click="playAsNext()"
                 aria-label="Play as next" title="Play as next">
        <ng-md-icon icon="play_circle_outline"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="appendToTracklist()"
                 aria-label="Append to queue" title="Append to queue">
        <ng-md-icon icon="playlist_add" ></ng-md-icon>
      </md-button>
    </td>
  </tr>
  </tbody>
</table>