<md-content>
  <md-progress-circular md-mode="indeterminate"
                        ng-show="waitingForResults"
                        layout-align="center"></md-progress-circular>
  <section>
    <md-list ng-hide="waitingForResults">
      <md-list-item ng-show="tltracks.length == 0" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Tracklist empty...</h3>
          <h4>Add songs asap!</h4>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line"
                    ng-repeat="tltrack in tltracks track by tltrack.tlid"
                    ng-class="{'currently-playing': tltrack.tlid === currentTlTrack.tlid}"
                    ng-mouseenter="showActions = true" ng-mouseleave="showActions = false">
        <img class="md-avatar" alt="{{ tltrack.track.name }}"
             cover-from="{{ tltrack.track.album }}" cover-size="40"/>

        <div class="md-list-item-text">
          <h3>{{ tltrack.track.name }}</h3>
          <h4>
            <a href="#/browse/{{ tltrack.track.artists[0].uri }}">
              {{ tltrack.track.artists[0].name }}
            </a>
            -
            <a href="#/browse/{{ tltrack.track.album.uri }}">
              {{ tltrack.track.album.name }}
            </a>
          </h4>

          <div class="actions" layout="column" ng-show="showActions">
            <md-button class="md-icon-button"
                       aria-label="Play now" title="Play now"
                       ng-click="playback.playNow(tltrack)">
              <md-icon md-font-library="material-icons" class="md-dark"
                 hint="play_arrow">&#xE037;</md-icon>
            </md-button>
            <md-button class="md-icon-button"
                       aria-label="Remove from tracklist"
                       title="Remove from tracklist"
                       ng-click="playback.removeFromTracklist(tltrack)">
              <md-icon md-font-library="material-icons" class="md-dark"
                 hint="delete">&#xE872;</md-icon>
            </md-button>
          </div>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </section>
</md-content>