ng-md-icon {
    fill: rgba(255, 255, 255, 0.87);
}

.track-actions ng-md-icon {
    fill: rgba(0, 0, 0, 0.87);
}

md-input-container.md-default-theme > ng-md-icon {
    margin-top: 5px;
    fill: rgba(0, 0, 0, 0.87);
}