md-icon.material-icons {
    color: rgba(255, 255, 255, 1);
}

md-icon.material-icons.md-highlight {
    color: rgb(255,171,64);
}

md-icon.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.25);
}
md-icon.material-icons.md-dark:hover {
    color: rgba(0, 0, 0, 0.87);
}

.material-icons.md-16 {
    font-size: 16px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-28 {
    font-size: 28px;
}
.material-icons.md-36 {
    font-size: 36px;
}