<md-content flex layout-fill layout-padding layout="column">
  <section>
    <div ng-if="!currentTrack">
      <h3>It's awfully quiet in here</h3>
    </div>

    <div layout="column" layout-gt-md="row" ng-if="currentTrack">
      <div>
        <img class="md-avatar currenttrack-cover"
             alt="{{ currentTrack.album.name }}"
             cover-from="{{ currentTrack }}" cover-size="300">
      </div>
      <div class="currenttrack-info">
        <h3>{{ currentTrack.name }}</h3>
        <md-list>
          <md-list-item class="md-line" ng-if="currentTrack.artists">
            <div class="md-list-item-text">
              <ul class="currenttrack-artists">
                <li ng-repeat="artist in currentTrack.artists">
                  <a href="#/browse/{{ artist.uri }}">
                    {{ artist.name }}
                  </a>
                </li>
              </ul>
            </div>
          </md-list-item>
          <md-list-item class="md-line" ng-if="currentTrack.album">
            <div class="md-list-item-text">
              <a href="#/browse/{{ currentTrack.album.uri }}">
                {{ currentTrack.album.name }}
              </a>
            </div>
          </md-list-item>
          <md-list-item class="md-line" ng-if="currentTrack.genre">
            <div class="md-list-item-text">{{ currentTrack.genre }}</div>
          </md-list-item>
          <md-list-item class="md-line" ng-if="currentTrack.length">
            <div class="md-list-item-text">
              {{ currentTrack.length | duration }}
            </div>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </section>
</md-content>
