/* do not style browsable links to much */
a[href^="#/browse"] {
    text-decoration: none;
}
a[href^="#/browse"]:hover {
    text-decoration: underline;
}
md-grid-tile-footer a[href^="#/browse"] {
    color: #fff;
}
.tracks a[href^="#/browse"],
.md-list-item-text a[href^="#/browse"]{
    color: rgba(0,0,0,0.87);
}