<md-content class="browse" flex layout-fill layout-padding layout="column">

  <md-progress-circular md-mode="indeterminate"
                        ng-show="waitingForResults"
                        layout-align="center"></md-progress-circular>

  <div ng-hide="waitingForResults">
    <md-list>
      <md-list-item ng-repeat="item in result" ng-click="browse(item)">
        <img class="md-avatar" alt="{{ item.name }}"
             cover-from="{{ item }}" cover-size="100"/>

        <p>{{ item.name }}</p>

        <div class="md-secondary">
          <md-button class="md-icon-button" ng-click="playback.appendToTracklist(item)"
                     aria-label="Append to queue" title="Append to queue">
            <ng-md-icon icon="playlist_add"></ng-md-icon>
          </md-button>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-content>
